<section>
    <img src="img/imgLogin.webp" alt="Universidad de los Llanos">
        <form action="/" method="post">

                <h3>SENDERO ECOLÓGICO</h3>
                <hr>
    
                <div class="input-group">
                    <input type="email" name="email" id="email" placeholder="Email" required>
                </div>
    
                <div class="input-group">
                    <input type="password" name="password" id="password" placeholder="Password" required>
                </div>
    
                <button type="submit" class="btn login">Iniciar Sesión</button>
                <p class="forgot-password">¿Olvidaste tu contraseña?</p>
                <button type="button" class="btn register" (click)="navigateToMap()">Registrarse</button>

        </form>
    
</section>