<section>
    <img src="img/imgLogin.webp" alt="Universidad de los Llanos">
    <form action="/" method="post">

            <h3>REGISTRAR USUARIO</h3>
            <div>
                <label for="name">Usuario:</label>
                <input type="text" name="name" id="name" placeholder="Name" required>
            </div>

            <div>
                <label for="email">Correo:</label>
                <input type="email" name="email" id="email" placeholder="Email" required>
            </div>

            <div>
                <label for="password">Contraseña:</label>
                <input type="password" name="password" id="password" placeholder="Password" required>
            </div>

            <div>
                <label for="password">Confirmar contraseña:</label>
                <input type="password" name="password" id="password" placeholder="Password" required>
            </div>

            <button type="submit">Registrarse</button>
        
    </form>
</section>