<main>
  <header>
    <img (click)="toggleMenu()" src="img/menu.webp" alt="Menú" height="35px">
    <app-menu [menuOpen]="menuOpen" (menuToggle)="menuOpen = $event"></app-menu>


    <div class="titulo">
        <h3>PANEL DE CONTROL - SENDERO ECOLÓGICO</h3>
        <p>{{role}}</p>
    </div>
    <div class="login">
      <a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Iniciar Sesión</a>
    </div>

  </header>
  @if(isHomePage){
    <section>
      <div>
        <button>Inicar como invitado</button>
        <app-station-details></app-station-details>
      </div>
      <app-map></app-map>
    </section>
  }

</main>


<router-outlet />
